/////////////
// Colours //
/////////////

/********/
/* Base */
/********/

$cbase: #111111;
$csecondary: #333333;
$ctertiary: #222222;
$cquaternary: #444444;
$ccontrast: #ffffff;
$cbg: #f5f5f5;

// Translucent background
$ctbg: #2b2b2b;

// Borders
$cb1: #979797;
$cb2: #dddddd;

$fclight: #8d8d8d;
$fclighter: #cccccc;
$fcnavsecondary: #666666;

$csuccess: #0394de;
$cfailure: #691a16;

// Explicitly defined colours
$cwhite: #ffffff;
$cyellow: #F5A623;
$cred: #B70008;

///////////
// Fonts //
///////////

$fregular: 'Proxima Nova Regular', sans-serif;
$frbold: 'Proxima Nova Bold', sans-serif;
$fbold: 'Futura Bold', sans-serif;

////////////////
// Font Sizes //
////////////////
