.nav-top
{
  position: absolute;
  display: grid;
  height: 10rem;
  top: 0;
  left: 0;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  z-index: 999;

  &--alt
  {
    position: relative;
  }

  @media only screen and (max-width: 1440px)
  {
    grid-template-columns: 2fr 1fr 2fr;
  }

  @media only screen and (max-width: 1280px)
  {
    grid-template-columns: 3fr 1fr 3fr;
  }

  @media only screen and (max-width: 1080px)
  {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 600px)
  {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-height: 760px)
  {
    height: 8rem;
  }

  &__menu
  {
    position: relative;
  }

  &__hamburger
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav
  {
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: all .2s;
    background-color: $cbase;
  }

  &__logo
  {
    margin: 0 auto;
    align-self: center;
  }

  &__ddmenu
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger__checkbox:checked ~ &__nav
  {
    opacity: 1;
    width: 100%;
  }
}
